In [1]:
import pandas as pd  #pandas pour manipuler les dataframes
import numpy as np     #numpy est la librairie python pour le calcul numerique
import sklearn      #charger le module sklearn qui contient divers jeux de donnees

from scores import *

Documentation : https://higgsml.lal.in2p3.fr/files/2014/04/documentation_v1.8.pdf

Dataloading
--------

In [39]:
train_set = pd.read_csv('boson_train_set.csv')   #charger les donnees csv

print(len(train_set))   #afficher la taille de mon dataframe
train_set.head()     #afficher les premieres lignes de mon dataframe

250000

,EventId,DER_mass_MMC,DER_mass_transverse_met_lep,DER_mass_vis,DER_pt_h,DER_deltaeta_jet_jet,DER_mass_jet_jet,DER_prodeta_jet_jet,DER_deltar_tau_lep,DER_pt_tot,...,PRI_jet_num,PRI_jet_leading_pt,PRI_jet_leading_eta,PRI_jet_leading_phi,PRI_jet_subleading_pt,PRI_jet_subleading_eta,PRI_jet_subleading_phi,PRI_jet_all_pt,Weight,Label
0,100000,138.470,51.655,97.827,27.980,0.91,124.711,2.666,3.064,41.928,...,2,67.435,2.150,0.444,46.062,1.24,-2.475,113.497,0.000814,s
1,100001,160.937,68.768,103.235,48.146,-999.00,-999.000,-999.000,3.473,2.078,...,1,46.226,0.725,1.158,-999.000,-999.00,-999.000,46.226,0.681042,b
2,100002,-999.000,162.172,125.953,35.635,-999.00,-999.000,-999.000,3.148,9.336,...,1,44.251,2.053,-2.028,-999.000,-999.00,-999.000,44.251,0.715742,b
3,100003,143.905,81.417,80.943,0.414,-999.00,-999.000,-999.000,3.310,0.414,...,0,-999.000,-999.000,-999.000,-999.000,-999.00,-999.000,-0.000,1.660654,b
4,100004,175.864,16.915,134.805,16.405,-999.00,-999.000,-999.000,3.891,16.405,...,0,-999.000,-999.000,-999.000,-999.000,-999.00,-999.000,0.000,1.904263,b

In [41]:
from sklearn.preprocessing import LabelEncoder                    #un transformer encoder pour encoder la variable label,il va traiter une seule colonne
encod=LabelEncoder()
train_set['Label']=encod.fit_transform(train_set['Label'])  #transformer la colonne Label en l'encodant a partir de 0
train_set.head()

,EventId,DER_mass_MMC,DER_mass_transverse_met_lep,DER_mass_vis,DER_pt_h,DER_deltaeta_jet_jet,DER_mass_jet_jet,DER_prodeta_jet_jet,DER_deltar_tau_lep,DER_pt_tot,...,PRI_jet_num,PRI_jet_leading_pt,PRI_jet_leading_eta,PRI_jet_leading_phi,PRI_jet_subleading_pt,PRI_jet_subleading_eta,PRI_jet_subleading_phi,PRI_jet_all_pt,Weight,Label
0,100000,138.470,51.655,97.827,27.980,0.91,124.711,2.666,3.064,41.928,...,2,67.435,2.150,0.444,46.062,1.24,-2.475,113.497,0.000814,1
1,100001,160.937,68.768,103.235,48.146,-999.00,-999.000,-999.000,3.473,2.078,...,1,46.226,0.725,1.158,-999.000,-999.00,-999.000,46.226,0.681042,0
2,100002,-999.000,162.172,125.953,35.635,-999.00,-999.000,-999.000,3.148,9.336,...,1,44.251,2.053,-2.028,-999.000,-999.00,-999.000,44.251,0.715742,0
3,100003,143.905,81.417,80.943,0.414,-999.00,-999.000,-999.000,3.310,0.414,...,0,-999.000,-999.000,-999.000,-999.000,-999.00,-999.000,-0.000,1.660654,0
4,100004,175.864,16.915,134.805,16.405,-999.00,-999.000,-999.000,3.891,16.405,...,0,-999.000,-999.000,-999.000,-999.000,-999.00,-999.000,0.000,1.904263,0

In [42]:
train_set['Weight'].value_counts()   #afficher le nombre de valeurs qui se trouvent dans weight

0.000461    38552
0.005721    32352
0.512740    17259
0.226870    10351
0.000814     7789
            ...
0.661006        1
0.742710        1
0.576833        1
1.800832        1
1.394281        1
Name: Weight, Length: 104096, dtype: int64

In [4]:
train_set.columns     #afficher le nombre de colonnes qui se trouvent dans mon dataframe

Index(['EventId', 'DER_mass_MMC', 'DER_mass_transverse_met_lep',
       'DER_mass_vis', 'DER_pt_h', 'DER_deltaeta_jet_jet', 'DER_mass_jet_jet',
       'DER_prodeta_jet_jet', 'DER_deltar_tau_lep', 'DER_pt_tot', 'DER_sum_pt',
       'DER_pt_ratio_lep_tau', 'DER_met_phi_centrality',
       'DER_lep_eta_centrality', 'PRI_tau_pt', 'PRI_tau_eta', 'PRI_tau_phi',
       'PRI_lep_pt', 'PRI_lep_eta', 'PRI_lep_phi', 'PRI_met', 'PRI_met_phi',
       'PRI_met_sumet', 'PRI_jet_num', 'PRI_jet_leading_pt',
       'PRI_jet_leading_eta', 'PRI_jet_leading_phi', 'PRI_jet_subleading_pt',
       'PRI_jet_subleading_eta', 'PRI_jet_subleading_phi', 'PRI_jet_all_pt',
       'Weight', 'Label'],
      dtype='object')

In [5]:
train_set.describe()    #afficher les statistiques descriptives

,EventId,DER_mass_MMC,DER_mass_transverse_met_lep,DER_mass_vis,DER_pt_h,DER_deltaeta_jet_jet,DER_mass_jet_jet,DER_prodeta_jet_jet,DER_deltar_tau_lep,DER_pt_tot,...,PRI_met_sumet,PRI_jet_num,PRI_jet_leading_pt,PRI_jet_leading_eta,PRI_jet_leading_phi,PRI_jet_subleading_pt,PRI_jet_subleading_eta,PRI_jet_subleading_phi,PRI_jet_all_pt,Weight
count,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,...,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,224999.500000,-49.023079,49.239819,81.181982,57.895962,-708.420675,-601.237051,-709.356603,2.373100,18.917332,...,209.797178,0.979176,-348.329567,-399.254314,-399.259788,-692.381204,-709.121609,-709.118631,73.064591,0.502121
std,72168.927986,406.345647,35.344886,40.828691,63.655682,454.480565,657.972302,453.019877,0.782911,22.273494,...,126.499506,0.977426,532.962789,489.338286,489.333883,479.875496,453.384624,453.389017,98.015662,0.571733
min,100000.000000,-999.000000,0.000000,6.329000,0.000000,-999.000000,-999.000000,-999.000000,0.208000,0.000000,...,13.678000,0.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,0.000000,0.000461
25%,162499.750000,78.100750,19.241000,59.388750,14.068750,-999.000000,-999.000000,-999.000000,1.810000,2.841000,...,123.017500,0.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,0.000000,0.005721
50%,224999.500000,105.012000,46.524000,73.752000,38.467500,-999.000000,-999.000000,-999.000000,2.491500,12.315500,...,179.739000,1.000000,38.960000,-1.872000,-2.093000,-999.000000,-999.000000,-999.000000,40.512500,0.352533
75%,287499.250000,130.606250,73.598000,92.259000,79.169000,0.490000,83.446000,-4.593000,2.961000,27.591000,...,263.379250,2.000000,75.349000,0.433000,0.503000,33.703000,-2.457000,-2.275000,109.933750,0.733042
max,349999.000000,1192.026000,690.075000,1349.351000,2834.999000,8.503000,4974.979000,16.690000,5.684000,2834.999000,...,2003.976000,3.000000,1120.573000,4.499000,3.141000,721.456000,4.500000,3.142000,1633.433000,2.385170

Create a fake submission
--------

In [44]:
fake_prediction = pd.Series(np.random.choice( np.array(['s', 'b']), size=len(train_set)), name='Class')
pd_predict = pd.concat([fake_prediction, train_set['EventId']], axis=1)
pd_predict.head()

  Class  EventId
0     s   100000
1     s   100001
2     s   100002
3     s   100003
4     s   100004

In [43]:
# Utilisez ce csv pour tester si vous arrivez Ã  calculer votre score AMS
# c'est juste boson_train_set.csv, sans les colonnes de features

train_solution = pd.read_csv('train_answer_for_submission_trial.csv')
train_solution

        EventId    Weight Label
0        100000  0.000814     s
1        100001  0.681042     b
2        100002  0.715742     b
3        100003  1.660654     b
4        100004  1.904263     b
...         ...       ...   ...
249995   349995  1.373644     b
249996   349996  0.761439     b
249997   349997  0.005721     s
249998   349998  0.512740     b
249999   349999  0.572460     b

[250000 rows x 3 columns]

In [45]:
#nettoyer mes donnees
X=train_set.drop(['Label','Weight'],axis=1)     #creer un dataframe sans les colonnes weight et labele
y=train_set['Label']                          #creer un autre avec seulement la colonne label
y.head()

0    1
1    0
2    0
3    0
4    0
Name: Label, dtype: int64

In [47]:
#on va imputer les valeurs manquantes representes par -999
from sklearn.impute import SimpleImputer    #j'ai utilise le module SimpleImputer
imp_mean = SimpleImputer(missing_values=-999, strategy='mean')  #j'ai declare la representation de la valeur manquante puis representer la strategie par laquelle il faudra la remplacer
X=imp_mean.fit_transform(X)  #j'ai impute la valeur puis je l'ai transforme par la moyenne
columns=['EventId', 'DER_mass_MMC', 'DER_mass_transverse_met_lep',
       'DER_mass_vis', 'DER_pt_h', 'DER_deltaeta_jet_jet', 'DER_mass_jet_jet',
       'DER_prodeta_jet_jet', 'DER_deltar_tau_lep', 'DER_pt_tot', 'DER_sum_pt',
       'DER_pt_ratio_lep_tau', 'DER_met_phi_centrality',
       'DER_lep_eta_centrality', 'PRI_tau_pt', 'PRI_tau_eta', 'PRI_tau_phi',
       'PRI_lep_pt', 'PRI_lep_eta', 'PRI_lep_phi', 'PRI_met', 'PRI_met_phi',
       'PRI_met_sumet', 'PRI_jet_num', 'PRI_jet_leading_pt',
       'PRI_jet_leading_eta', 'PRI_jet_leading_phi', 'PRI_jet_subleading_pt',
       'PRI_jet_subleading_eta', 'PRI_jet_subleading_phi', 'PRI_jet_all_pt']
x=pd.DataFrame(np.atleast_2d(X),columns=columns)   #j'ai recree  un dataframe avec les nouvelles valeurs remplaces par les moyennes

In [48]:
train_set=pd.concat([x,y],axis=1)    #j'ai regroupe les deux dataframes pour avoir un seul dataframe bien nettoye
print(train_set.head())
train_set.shape

    EventId  DER_mass_MMC  DER_mass_transverse_met_lep  DER_mass_vis  \
0  100000.0    138.470000                       51.655        97.827
1  100001.0    160.937000                       68.768       103.235
2  100002.0    121.858528                      162.172       125.953
3  100003.0    143.905000                       81.417        80.943
4  100004.0    175.864000                       16.915       134.805

   DER_pt_h  DER_deltaeta_jet_jet  DER_mass_jet_jet  DER_prodeta_jet_jet  \
0    27.980              0.910000         124.71100             2.666000
1    48.146              2.403735         371.78336            -0.821688
2    35.635              2.403735         371.78336            -0.821688
3     0.414              2.403735         371.78336            -0.821688
4    16.405              2.403735         371.78336            -0.821688

   DER_deltar_tau_lep  DER_pt_tot  ...  PRI_met_sumet  PRI_jet_num  \
0               3.064      41.928  ...        258.733          2.0
1               3.473       2.078  ...        164.546          1.0
2               3.148       9.336  ...        260.414          1.0
3               3.310       0.414  ...         86.062          0.0
4               3.891      16.405  ...         53.131          0.0

   PRI_jet_leading_pt  PRI_jet_leading_eta  PRI_jet_leading_phi  \
0           67.435000             2.150000             0.444000
1           46.226000             0.725000             1.158000
2           44.251000             2.053000            -2.028000
3           84.822105            -0.003275            -0.012393
4           84.822105            -0.003275            -0.012393

   PRI_jet_subleading_pt  PRI_jet_subleading_eta  PRI_jet_subleading_phi  \
0              46.062000                1.240000               -2.475000
1              57.679474               -0.011845               -0.001582
2              57.679474               -0.011845               -0.001582
3              57.679474               -0.011845               -0.001582
4              57.679474               -0.011845               -0.001582

   PRI_jet_all_pt  Label
0         113.497      1
1          46.226      0
2          44.251      0
3          -0.000      0
4           0.000      0

[5 rows x 32 columns]

(250000, 32)

In [77]:
from sklearn.dummy import DummyClassifier     #import du module D d'ummyClassifier qui fait des predictions tres simples
d=DummyClassifier(strategy="most_frequent")  #definition de la strategie most frequent qui predit la valeur la plus frequente

In [69]:
from sklearn.linear_model import LogisticRegression   #import du module LogisticRegression qui est un classificateur
lr = LogisticRegression()

In [167]:
from sklearn import tree                            #import du package tree qui possede un module de classifiacteur d'arbre de decision
dtree = tree.DecisionTreeClassifier()

In [168]:
from sklearn.neighbors import KNeighborsClassifier   #import d'un module qui implemente ses voisins

In [171]:
neigh=KNeighborsClassifier()

In [50]:
from sklearn.model_selection import train_test_split    #un module qui diviser les tableaux en sous_ensembles d'apprentissage et d'evaluation
X=train_set.iloc[:,:-1]               #Creation d'un DataFrame sans la colonne label
y=train_set['Label']         #creation d'un dataFrame qui est la cible

In [51]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=5)   #decouper les deux dataFrames

In [78]:
d.fit(X_train,y_train)    #entrainer le modele avec l'ensemble d'entrainement

DummyClassifier(constant=None, random_state=None, strategy='most_frequent')

In [70]:
lr.fit(X_train,y_train)      #entrainer le modele avec l'ensemble d'entrainement

C:\Users\Utilisateur\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [172]:
dtree.fit(X_train,y_train)            #entrainer le modele avec l'ensemble d'entrainement

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [173]:
neigh.fit(X_train,y_train)        #entrainer le modele avec l'ensemble d'entrainement

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [71]:
lr.score(X_test,y_test)   #verifier les scores sur les donnees que la machine n'a pas encore vues pour ce modele logistique

0.7327151515151515

In [79]:
d.score(X_test,y_test)     #verifier les scores sur les donnees que la machine n'a pas encore vues pour ce modele

0.6561212121212121

In [174]:
dtree.score(X_test,y_test)    #verifier les scores sur les donnees que la machine n'a pas encore vues pour ce modele

0.7601454545454546

In [175]:
neigh.score(X_test,y_test)     #verifier les scores sur les donnees que la machine n'a pas encore vues pour ce modele

0.6968606060606061

In [56]:
from sklearn.metrics import f1_score  #module qui sert a verifier si mes modeles marchent bien

In [176]:
d_predict=d.predict(X_test)   #prediction sur les donnees inconnues a la machine
f1_score(y_test,d_predict)    #vraie valeur de la prediction

C:\Users\Utilisateur\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

0.0

In [57]:
dtree_predict=dtree.predict(X_test)      #prediction sur les donnees inconnues a la machine
print(dtree_predict)
f1_score(y_test,dtree_predict)      #vraie valeur de la prediction

[0 0 1 ... 1 1 0]

0.6545308151441425

In [177]:
lr_predict=lr.predict(X_test)     #prediction sur les donnees inconnues a la machine
f1_score(y_test,lr_predict)     #vraie valeur de la prediction

0.5524366234346142

In [179]:
neigh_predict=neigh.predict(X_test)
f1_score(y_test,neigh_predict)

0.5311486473819388

In [81]:
from sklearn.model_selection import cross_val_score     #module qui sert a faire la validation croisee
print(cross_val_score(lr,X_train,y_train,cv=3,scoring='accuracy').mean())
print(cross_val_score(d,X_train,y_train,cv=3,scoring='accuracy').mean())

C:\Users\Utilisateur\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Utilisateur\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Utilisateur\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7337731310659156
0.6579283581845706

In [180]:
print(cross_val_score(dtree,X_train,y_train,cv=3,scoring='accuracy').mean())

0.7622268743514548

In [182]:
print(cross_val_score(neigh,X_train,y_train,cv=5,scoring='accuracy').mean())

0.690203013546294

In [73]:
train_set['Class']=lr.predict(X)

In [74]:
lr_predict_train=train_set[['Class','EventId']]

In [75]:
lr_predict_train['Class'].replace([0,1],['b','s'],inplace=True)

C:\Users\Utilisateur\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [84]:
train_set['Class']=d.predict(X)

In [85]:
d_predict_train=train_set[['Class','EventId']]

In [86]:
d_predict_train['Class'].replace([0,1],['b','s'],inplace=True)

C:\Users\Utilisateur\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [83]:
train_set['Class']=dtree.predict(X)

In [33]:
train_set['Class'].value_counts()

0    163903
1     86097
Name: Class, dtype: int64

In [62]:
dtree_predict_train=train_set[['Class','EventId']]
dtree_predict_train

        Class   EventId
0           1  100000.0
1           0  100001.0
2           0  100002.0
3           0  100003.0
4           0  100004.0
...       ...       ...
249995      0  349995.0
249996      0  349996.0
249997      1  349997.0
249998      0  349998.0
249999      0  349999.0

[250000 rows x 2 columns]

In [183]:
dtree_predict_train['Class'].replace([0,1],['b','s'],inplace=True)
dtree_predict_train

C:\Users\Utilisateur\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

       Class   EventId
0          s  100000.0
1          b  100001.0
2          b  100002.0
3          b  100003.0
4          b  100004.0
...      ...       ...
249995     b  349995.0
249996     b  349996.0
249997     s  349997.0
249998     b  349998.0
249999     b  349999.0

[250000 rows x 2 columns]

In [186]:
train_set['Class']=neigh.predict(X)

In [188]:
neigh_predict_train=train_set[['Class','EventId']]
neigh_predict_train

        Class   EventId
0           0  100000.0
1           0  100001.0
2           0  100002.0
3           1  100003.0
4           1  100004.0
...       ...       ...
249995      0  349995.0
249996      0  349996.0
249997      1  349997.0
249998      0  349998.0
249999      0  349999.0

[250000 rows x 2 columns]

In [189]:
neigh_predict_train['Class'].replace([0,1],['b','s'],inplace=True)

C:\Users\Utilisateur\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [46]:
# Calcul du AMSÂ pour un vecteur de prÃ©diction alÃ©atoire sur le train set
# Je ferai la mÃªme procÃ©dure avec les rÃ©ponses du test set (que vous n'avez pas)
compute_ams(prediction=pd_predict, solution=train_solution)

0.42278716638855546

In [67]:
compute_ams(prediction=dtree_predict_train, solution=train_solution)

2.3827408039708184

In [76]:
compute_ams(prediction=lr_predict_train, solution=train_solution)

0.9946121807100418

In [190]:
compute_ams(prediction=d_predict_train,solution=train_solution)

0.0

In [191]:
compute_ams(prediction=neigh_predict_train,solution=train_solution)

1.1107634045366899

Chargement des vraies donnÃ©es de test
-----------------

Vous n'avez pas ici 'Weight' et 'Label', vous pouvez juste faire utiliser ces donnÃ©es pour la prÃ©diction

In [24]:
test_data = pd.read_csv('boson_test_set.csv')

print(len(test_data))
test_data.head()

550000

,EventId,DER_mass_MMC,DER_mass_transverse_met_lep,DER_mass_vis,DER_pt_h,DER_deltaeta_jet_jet,DER_mass_jet_jet,DER_prodeta_jet_jet,DER_deltar_tau_lep,DER_pt_tot,...,PRI_met_phi,PRI_met_sumet,PRI_jet_num,PRI_jet_leading_pt,PRI_jet_leading_eta,PRI_jet_leading_phi,PRI_jet_subleading_pt,PRI_jet_subleading_eta,PRI_jet_subleading_phi,PRI_jet_all_pt
0,350000,-999.000,79.589,23.916,3.036,-999.000,-999.000,-999.000,0.903,3.036,...,2.022,98.556,0,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,-0.000
1,350001,106.398,67.490,87.949,49.994,-999.000,-999.000,-999.000,2.048,2.679,...,-1.138,176.251,1,47.575,-0.553,-0.849,-999.000,-999.000,-999.000,47.575
2,350002,117.794,56.226,96.358,4.137,-999.000,-999.000,-999.000,2.755,4.137,...,-1.868,111.505,0,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,0.000
3,350003,135.861,30.604,97.288,9.104,-999.000,-999.000,-999.000,2.811,9.104,...,1.172,164.707,0,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,0.000
4,350004,74.159,82.772,58.731,89.646,1.347,536.663,-0.339,1.028,77.213,...,-0.231,869.614,3,254.085,-1.013,-0.334,185.857,0.335,2.587,599.213

In [25]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=-999, strategy='mean')
X=imp_mean.fit_transform(test_data)
columns=['EventId', 'DER_mass_MMC', 'DER_mass_transverse_met_lep',
       'DER_mass_vis', 'DER_pt_h', 'DER_deltaeta_jet_jet', 'DER_mass_jet_jet',
       'DER_prodeta_jet_jet', 'DER_deltar_tau_lep', 'DER_pt_tot', 'DER_sum_pt',
       'DER_pt_ratio_lep_tau', 'DER_met_phi_centrality',
       'DER_lep_eta_centrality', 'PRI_tau_pt', 'PRI_tau_eta', 'PRI_tau_phi',
       'PRI_lep_pt', 'PRI_lep_eta', 'PRI_lep_phi', 'PRI_met', 'PRI_met_phi',
       'PRI_met_sumet', 'PRI_jet_num', 'PRI_jet_leading_pt',
       'PRI_jet_leading_eta', 'PRI_jet_leading_phi', 'PRI_jet_subleading_pt',
       'PRI_jet_subleading_eta', 'PRI_jet_subleading_phi', 'PRI_jet_all_pt']
test_data=pd.DataFrame(np.atleast_2d(X),columns=columns)

In [26]:
test_data.head()

,EventId,DER_mass_MMC,DER_mass_transverse_met_lep,DER_mass_vis,DER_pt_h,DER_deltaeta_jet_jet,DER_mass_jet_jet,DER_prodeta_jet_jet,DER_deltar_tau_lep,DER_pt_tot,...,PRI_met_phi,PRI_met_sumet,PRI_jet_num,PRI_jet_leading_pt,PRI_jet_leading_eta,PRI_jet_leading_phi,PRI_jet_subleading_pt,PRI_jet_subleading_eta,PRI_jet_subleading_phi,PRI_jet_all_pt
0,350000.0,121.875333,79.589,23.916,3.036,2.405857,372.476272,-0.831557,0.903,3.036,...,2.022,98.556,0.0,84.934599,-0.000811,-0.02148,57.841388,-0.004402,-0.012826,-0.000
1,350001.0,106.398000,67.490,87.949,49.994,2.405857,372.476272,-0.831557,2.048,2.679,...,-1.138,176.251,1.0,47.575000,-0.553000,-0.84900,57.841388,-0.004402,-0.012826,47.575
2,350002.0,117.794000,56.226,96.358,4.137,2.405857,372.476272,-0.831557,2.755,4.137,...,-1.868,111.505,0.0,84.934599,-0.000811,-0.02148,57.841388,-0.004402,-0.012826,0.000
3,350003.0,135.861000,30.604,97.288,9.104,2.405857,372.476272,-0.831557,2.811,9.104,...,1.172,164.707,0.0,84.934599,-0.000811,-0.02148,57.841388,-0.004402,-0.012826,0.000
4,350004.0,74.159000,82.772,58.731,89.646,1.347000,536.663000,-0.339000,1.028,77.213,...,-0.231,869.614,3.0,254.085000,-1.013000,-0.33400,185.857000,0.335000,2.587000,599.213

In [109]:
test_data['predict']=d.predict(test_data)    #prediction des donnees qui sont dans test avec DummyClassifier
predict=test_data[['EventId','predict']]
predict['predict'].replace([0,1],['b','s'],inplace=True)

C:\Users\Utilisateur\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [110]:
predict.to_csv('Nzorijana_Bavon_DummyClassifier.csv', index=False, sep=',')

In [132]:
test_data=test_data.drop(['predict2'],axis=1)

In [133]:
test_data['predict2']=dtree.predict(test_data.iloc[:,:-1])    #prediction des donnees qui sont dans test avec DecisionTreeClassifier

In [135]:
predict2=test_data[['EventId','predict2']]

In [137]:
predict2['predict2'].replace([0,1],['b','s'],inplace=True)

In [141]:
predict2.to_csv('Nzorijana_Bavon_DecisionTreeClassifier.csv', index=False, sep=',')

In [155]:
test_data=test_data.drop(['predict3'],axis=1)

In [156]:
test_data['predict3']=lr.predict(test_data.iloc[:,:-2])    #prediction des donnees qui sont dans test avec LogisticRegression

In [157]:
predict3=test_data[['EventId','predict3']]

In [159]:
predict3['predict3'].replace([0,1],['b','s'],inplace=True)

In [165]:
predict3.to_csv('Nzorijana_Bavon_LogisticRegression.csv', index=False, sep=',')

In [196]:
test_data=test_data.drop(['predict4'],axis=1)                #prediction des donnees qui sont dans test avec KNeighborsClassifier

In [197]:
test_data['predict4']=neigh.predict(test_data.iloc[:,:-3])

In [198]:
predict4=test_data[['EventId','predict4']]

In [200]:
predict4['predict4'].replace([0,1],['b','s'],inplace=True)

In [201]:
predict4.head()

    EventId predict4
0  350000.0        b
1  350001.0        s
2  350002.0        b
3  350003.0        s
4  350004.0        s

In [202]:
predict4.to_csv('Nzorijana_Bavon_KNeighborsClassifier.csv', index=False, sep=',')